[submodule "3rd/bgfx"]
	path = 3rd/bgfx
	url = https://github.com/bkaradzic/bgfx.git
[submodule "3rd/bx"]
	path = 3rd/bx
	url = https://github.com/bkaradzic/bx.git
[submodule "3rd/bimg"]
	path = 3rd/bimg
	url = https://github.com/bkaradzic/bimg.git
[submodule "3rd/enkiTS"]
	path = 3rd/enkiTS
	url = https://github.com/dougbinks/enkiTS
[submodule "build"]
	path = build
	url = https://github.com/RudjiGames/build.git
[submodule "src/libs/rbase"]
	path = src/libs/rbase
	url = https://github.com/RudjiGames/rbase.git
[submodule "src/libs/rprof"]
	path = src/libs/rprof
	url = https://github.com/RudjiGames/rprof.git
[submodule "src/libs/rapp"]
	path = src/libs/rapp
	url = https://github.com/RudjiGames/rapp.git
